version: '3.8'

services:
  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
    command:
      - '--config.file=/etc/prometheus/prometheus.yml'
      - '--web.enable-remote-write-receiver'
    ports:
      - "9090:9090"
    extra_hosts:
      - "host.docker.internal:host-gateway"
    deploy:
      resources:
        limits:
          cpus: '0.5'
          memory: 512M

  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    ports:
      - "3005:3000"
    volumes:
      - ./grafana/provisioning:/etc/grafana/provisioning
      - grafana-data:/var/lib/grafana
    environment:
      - GF_SECURITY_ADMIN_PASSWORD=admin
    depends_on:
      - prometheus
    extra_hosts:
      - "host.docker.internal:host-gateway"
    deploy:
      resources:
        limits:
          cpus: '0.5'
          memory: 512M

  payment-service:
    build: ./payment-service
    container_name: payment-service
    ports:
      - "3001:3001"
    deploy:
      resources:
        limits:
          cpus: '0.5'
          memory: 512M

  order-service:
    build: ./order-service
    container_name: order-service
    ports:
      - "3000:3000"
    environment:
      - PAYMENT_SERVICE_URL=http://payment-service:3001/payments
    depends_on:
      - payment-service
    deploy:
      resources:
        limits:
          cpus: '0.5'
          memory: 512M

  order-service-fragile:
    build: ./order-service-fragile
    container_name: order-service-fragile
    ports:
      - "3002:3002"
    environment:
      - PAYMENT_SERVICE_URL=http://payment-service:3001/payments
    depends_on:
      - payment-service
    deploy:
      resources:
        limits:
          cpus: '0.5'
          memory: 512M

  k6:
    image: grafana/k6:latest
    volumes:
      - ./load-tests:/load-tests
    environment:
      - K6_PROMETHEUS_RW_SERVER_URL=http://prometheus:9090/api/v1/write
      - RESILIENT_SERVICE_URL=http://order-service:3000/orders
      - FRAGILE_SERVICE_URL=http://order-service-fragile:3002/orders
    command: ["run", "-o", "experimental-prometheus-rw", "/load-tests/k6-script.js"]
    deploy:
      resources:
        limits:
          cpus: '0.5'
          memory: 512M

volumes:
  grafana-data:
